header{
	text-align:center;
	border-bottom: 4px solid black;
}
body{
	
}
.container{
	width:80%;
	height:100%;
	margin: 0 auto;
	margin-bottom:10%;
	/*background-color:#E0FFFF;*/
}

td,th  {
	text-align:center;
}
button{
	margin-top: 2%;
}

#botoPeu{
	margin-bottom:10%;
}
#num{
	float:right;
	margin-right:2%;
	font-size:14px;
	color:blue;
	font-weight:bold;
}
fieldset{
	margin-top:1%;
}
legend{
	text-align:left;
	color:red;
	font-size:25px;
}
.red{color:red;}
.jug{
	margin-top:1%;
	margin-bottom:2%;
	border-bottom: 1px solid black;
	background-color:white;
}
.fotoJug{
	width:50px;
	height:50px;
}
#dadesPista{
	border:0px solid white;
}
#opcio {
	float: left;
	font-weight: bold;
	font-size: 16px;	
	margin-top: 0.7em;
}
#opcio select {
	width: 150px;
	padding: 5px;
	font-size: 14px;
	border: 1px solid #ccc;
	height: 34px;
	color:white;
	background-color:black;
}

#buttons {
	float: left;
	margin-left: 3%;
	margin-top: 1%;
}

.limpio {
	clear: both;
}

.cos {
	text-align: left;
	font-size: 15px;
}

.botons {
	float:left;
	text-align: right;
	margin: 1em;
	margin-right: 2em;
	font-size: 15px;
/*	float: left;*/
}


.col1_1 {
	border:1px solid black;
	float: left;
	width: 98%;
	height:72px;
}
.col1_2 {
	border:1px solid black;
	float: left;
	width: 47%;
	margin-right: 4%;
	height:72px;
}

.col2_2 {
	border:1px solid black;
	float: left;
	width: 47%;
	height:72px;
}

.col1_3 {
	border:1px solid black;
	float: left;
	width: 31%;
	margin-right: 2%;
	height:72px;
}

.col2_3 {
	border:1px solid black;
	float: left;
	width: 31%;
	margin-right: 2%;
	height:72px;
}

.col3_3 {
	border:1px solid black;
	float: left;
	width: 31%;
	height:72px;
}
#mostraCodi{
	background-color:white;
	color:black;
}
input:required:invalid {
	border: 1px solid red;
}
input:required:valid {
	border: 1px solid green;
}
/* ---------- FOOTER ---------- */
footer#disclaimer p {
  font-size: .875em;
  color: #909091;
  font-style: italic;
}
footer#disclaimer p span {
  font-size: 1.2em;
  color: #2a9ccc;
}
footer#main-footer {
  background-color: #fcfbfb;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fcfbfb), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #fcfbfb, #ffffff);
  background-image: -moz-linear-gradient(top, #fcfbfb, #ffffff);
  background-image: -o-linear-gradient(top, #fcfbfb, #ffffff);
  background-image: linear-gradient(to bottom, #fcfbfb, #ffffff);
  border-top: 1px solid #dcdee0;
  -webkit-box-shadow: inset 0 2px 5px #e6dede;
  box-shadow: inset 0 2px 5px #e6dede;
  text-align: center;
  padding: 2em 0;
  margin-top: 4em;
}
footer#main-footer p {
  font-size: .875em;
  margin-bottom: 1em;
}